/* FADE */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.5s;
}

/* SLIDE */
.slide-enter-from {
  transform: translateX(-150px);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0px);
  opacity: 1;
}

.slide-leave-to {
  transform: scale(0);
}

/* ZOOM */
.zoom-enter-from {
  transform: scale(0);
  opacity: 0;
}

.zoom-enter-active {
  transition: transform 1s;
}

.zoom-enter-to {
  transform: scale(1);
}

.zoom-leave-from {
  transform: scale(1);
}

.zoom-leave-active {
  transition: transform 1s;
}

.zoom-leave-to {
  transform: scale(0);
}
