/* FADE */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.5s;
}

/* SLIDE */
.slide-enter-from {
  transform: translateX(-150px);
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0px);
  opacity: 1;
}

.slide-leave-to {
  transform: scale(0);
}

/* ZOOM */
/* .zoom-enter-from {
  transform: scale(0);
  opacity: 0;
}

.zoom-enter-active {
  transition: transform 1s;
}

.zoom-enter-to {
  transform: scale(1);
}

.zoom-leave-from {
  transform: scale(1);
}

.zoom-leave-active {
  transition: transform 1s;
}

.zoom-leave-to {
  transform: scale(0);
} */

/* FLIP */
/* .flip-enter-from {
  transform: rotateY(-80deg);
}

.flip-enter-active {
  transition: transform 2s;
}

.flip-enter-to {
  transform: rotateY(0deg);
}

.flip-leave-from {
  transform: rotateY(0deg);
}

.flip-leave-active {
  transition: transform 2s;
}

.flip-leave-to {
  transform: rotateY(80deg);
} */

@keyframes flip {
  from {
    transform: rotateY(-80deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.flip-enter-active {
  animation: flipCustomizado 2s;
}

.flip-leave-active {
  animation: flipCustomizado 2s reverse;
}

@keyframes flipCustomizado {
  0% {
    transform: rotateY(-80deg);
  }
  25% {
    transform: rotateY(-75deg);
  }
  50% {
    transform: rotateY(-25deg);
  }
  100% {
    transform: rotateY(-0deg);
  }
}

/* Animacao */
.animacao1-enter-active,
.animacao1-leave-active {
  animation: animacao1 5s ease 0s infinite normal forwards;
}

@keyframes animacao1 {
  0.0% {
    transform: scale(1) translate(-100px, 0) skew(0deg);
  }
  39.9% {
    transform: scale(1) translate(100px, 0) skew(-5deg);
  }
  45.3% {
    transform: scale(1) translate(100px, -6px) skew(0deg);
  }
  5.1% {
    transform: scale(1) translate(-100px, 0) skew(-12deg);
  }
  50.3% {
    transform: scale(1) translate(100px, 0) skew(0deg);
  }
  55.3% {
    transform: scale(1) translate(100px, 10px) skew(0deg);
  }
  60.3% {
    transform: scale(1) translate(100px, 0) skew(5deg);
  }
  95.1% {
    transform: scale(1) translate(-100px, 0) skew(12deg);
  }
  99.6% {
    transform: scale(1) translate(-100px, 0) skew(0deg);
  }
}

/* Combinando transition e animation */
.pulo-enter-from {
  opacity: 0;
}

.pulo-enter-active {
  animation: pulo 2s;
  transition: 1.5s;
}

.pulo-enter-to {
  opacity: 1;
}

.pulo-leave-from {
  opacity: 1;
}

.pulo-leave-active {
  transition: opacity 1s;
  animation: pulo 1s;
}

.pulo-leave-to {
  opacity: 0;
}

@keyframes pulo {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-8px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Slide de cima para baixo */
.entrada-estado-inicial {
  opacity: 0;
  transform: translateY(-150px);
}

.entrada-estado-final {
  opacity: 1;
  transform: translateY(0);
}

.saida-estado-inicial {
  opacity: 1;
  transform: translateY(0);
}

.saida-estado-final {
  opacity: 0;
  transform: translateY(50px);
}

.entrada-transicao,
.saida-transicao {
  transition: all 2s;
}
